
 .footer-background {
    position: relative;
}
footer {
    margin-top: 80px;
    position: relative;
}

footer .footer-background img {
    width: 100%;
}

.school {
    position: absolute;
    max-width: 25%;
    /* height: 40px; */
    top: 30%;
    left: 8%;
    
}

.octopus {
    position: absolute;
    max-width: 45%;
    right: 7%;
    top: -20%

}

.social {
    position: absolute;
   

    right: -8%;
    bottom: 15%;
}

.social a  {
   
    /* width: 10%; */
    line-height: 0;
    display: inline;
}


.social img {
    width: 20%;
    margin-left: 10px ;
   
}