
 .footer-background {
    position: relative;
}

footer .footer-background img {
    width: 100%;
}

.school {
    position: absolute;
    max-width: 25%;
    /* height: 40px; */
    top: 30%;
    left: 8%;
    
}

.octopus {
    position: absolute;
    max-width: 45%;



    
    right: 7%;
    top: -20%

}