.hero-mother {
    /* background-color: aqua; */
    margin-top: 10px;

    position: relative;
    
}


.lantern {
    width: 100%;
}

.hero-sarina {
    border: 2px solid black;
    position: absolute;
    top: 10%;
    left: 5%;
}

.hero-sarina p:first-child {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding: 3px;
    background-color:#ffaa8be8 ;
}


.hero-sarina p:nth-child(2) {
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    margin-bottom: 40%;
}

.sarina-img {
    width: 50%;
    position: absolute;
    border: 2px solid black;
    bottom: -40px;
    right: -60px;
}
.sarina-img img {
    width: 100%;
    height: 100%;

}

.weather {
    position: absolute;
    width: 20%;
    border: 2px solid black;
    top: -5%;
    left: 60%;
}
.weather p {
    
    text-align: end;
    padding: 1px;
    

    border-bottom: 2px solid black;

}

.weather img {
    width: 100%;
    padding: 5px;
}


