.hero-mother {
    /* background-color: aqua; */
    margin-top: 60px;

    position: relative;
    
}


.lantern {
    width: 100%;
    /* margin-right: 30px; */
}

.hero-sarina {
    width: 45%;
    height: 90%;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 5%;
}

.hero-sarina p:first-child {
    font-family: SeaHorses;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
    padding: 5px;
    background-color:#ffaa8be8 ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.hero-sarina p:nth-child(2) {
    text-align: center;
    padding: 5px;
    font-size: 1.05rem;
    margin-bottom: 40%;
}

.sarina-img {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid black;
    bottom: -30px;
    right: -30px;
}
.sarina-img img {
    width: 100%;
    height: 100%;

}

.weather {
    position: absolute;
    width: 30%;
   
    top: -15%;
    left: 52%;
 
}


.weather img {
    
    width: 100%;
    
    
   
}


 