
.skillset-mother {
    background-image: url(../img/bubbles.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    background-size: contain;
}


.skills {
    width: 90%;
    margin: 20px auto;

    
}

.skills img {
    width: 100%;
}



